	<div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-3' name='exp-check-3' checked>
	      <label class='form-check-label' for='exp-check-3'>
		09/2010 – 08/2014, Self employed</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='font-italic'>IT consultant</div>
	    <a href="#consult_desc" data-toggle='collapse'>More about my consulting</a>
	    <div id='consult_desc' class='collapse'>
	      I worked as a consultant mostly out of necessity as it was the only way to remain flexible while I put myself through school. I did consulting work with various clients throughout the Albuquerque area, mostly attorneys.
	    </div>
	    <ul>
	      <li class='head'>Duties</li>
	      <li>Provide on-call support.</li>
	      <li>Consult in small-office I.T. needs including best-practices and technology proposals to meet business objectives.</li>
	    </ul>
	  </div><!-- card body -->
	</div><!-- card -->