	<div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-5' name='exp-check-5' checked>
	      <label class='form-check-label' for='exp-check-5'>
		10/2006 – 01/2009: Albuquerque Publishing Company (Aka. Albuquerque Journal/Tribune)</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='font-italic'>Network Administration and Help Desk</div>
	    <a href="#apc_desc" data-toggle='collapse'>More about Albuquerque Publishing Company</a>  
	    <div id='apc_desc' class='collapse'>
	      Albuquerque Publishing Company publishes the Albuquerque Journal, Wall Street Journal and previously the Albuquerque Tribune.
	    </div>
	    <ul>
	      <li class='head'>Duties</li>    
	      <li>Maintenance of various servers (mostly Unix/Novell).</li>
	      <li>Resolve computer related issues on an as-needed basis.</li>
	      <li>Run and report on critical nightly reports.</li>
	    </ul>
	  </div> <!-- card body -->
	</div><!-- card -->