<div class='card mb-4'>
    <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-9' name='exp-check-9' checked>
	      <label class='form-check-label' for='exp-check-9'>
		10/1999 – 02/2002: Searchbuilder.com Inc. / SITU Partners, Inc.</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='font-italic'>JAVA/Web Programmer, Network Administrator, Tech Support</div>
	    <a href="#situ_desc" data-toggle='collapse'>More about SITU Partners</a>  
	    <div id='situ_desc' class='collapse'>
	      Initially hired as employee number three for a Top-ten rated Search Engine Optimization firm located in Santa Fe, NM. Responsibilities were
	      focused on HTML coding and search engine placement. Quickly given more responsibility as a Junior Systems Administrator and began programming
	      in C/C++ and Python as well as LAN/WAN administrative duties on a Linux/Windows2000 network.  As the company grew I became the Senior HTML
	      Coder, responsible for training and supervision of a department of four. I also expanded my programming knowledge to JAVA and programmed several
	      applications. I was then moved to a Systems Operator position and participated in the companies “Seeker” project as well as other Network
	      Administrative duties. The “Seeker” project created a Distributed Processing Platform written in JAVA. The project life cycle spanned two
	      years and I had heavy involvement creating pattern-matching parsers utilizing PERL 5 Regular Expressions/ ORO Matcher.
	    </div>
	    
	    <ul>
	      <li class='head'>Duties</li>    
	      <li>JAVA programming JAVA 1.x , JAVA 2, using the IBM SDK and the Sun SDK.</li>
	      <li>Integrated PERL 5 Regular Expression pattern matching into “Seeker” project.</li>
	      <li>Python2.x and C/C++ custom programs and applications.</li>
	      <li>Provide quality assurance for coding team members.</li>
	      <li>Install and maintain client-side CVS.</li>
	      <li>Troubleshoot / maintain / update UNIX DNS and Apache configuration of 300+ domains across 4 UNIX/Linux/FreeBSD web servers.</li>
	      <li>Install, Maintain & troubleshoot 10/100BaseT Ethernet UNIX / Linux / NT / WIN98 -2000 Lan/Wan and Workstations (Including software and hardware conflict resolution).</li>
	      <li>Assist administration and installation of MS Exchange 5-2000 server.</li>
	      <li>HTML/Java script/DHTML Code corporate web sites including optimizing pages for search engine placement.</li>
	      <li>Implement and maintain ‘IP Delivery’ technology for search engine placement.</li>
	      <li>Research and make recommendations on new technological solutions (software, hardware, networking).</li>
	      <li>Research, report and recommend best COA (Course of Action) for new search engine technologies and developments.</li>
	    </ul>
    </div><!-- card body -->
</div><!-- card -->