<div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-6' name='exp-check-6' checked>
	      <label class='form-check-label' for='exp-check-6'>
		09/2005 - 10/2006: Frank's Supply Inc.</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='font-italic'>Network Technician</div>
	    <a href="#franks_desc" data-toggle='collapse'>More about Frank's Supply</a>  
	    <div id='franks_desc' class='collapse'>
	      Frank's Supply Inc. is a 50+ year old organization with offices in Albuquerque, Farmington, Los Alamos and El Paso. They have
	      Point to Point connections going between those locations with a T1 connection to the Internet in Albuquerque. The primary network
	      application is a Terminal/Server based system with the server in Albuquerque. The two major projects I worked on were as
	      follows: 1. Setting up E-Commerce site which tied into existing Prelude Database for which I was primarily responsible for.
	      2: Upgrading and cleaning up antiquated Network Hardware which was an IT Department team effort.
	    </div>
	    <ul>
	      <li class='head'>Duties</li>    
	      <li>Maintain and troubleshoot Prelude system.</li>
	      <li>Set up VIA proprietary E-Commerce service.</li>
	      <li>Maintain and troubleshoot WAN/LAN (all 4 locations).</li>
	      <li>Internal Help Desk support.</li>
	      <li>Maintain office hardware (Computers, Copiers and Fax machines)</li>
	    </ul>
	  </div> <!-- card body -->
</div><!-- card -->