    <div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-2' name='exp-check-2' checked>
	      <label class='form-check-label' for='exp-check-2'>
		08/2014 - 04/2018, Haarmeyer Electric inc.</div><!-- form check -->
	    </label>
	  </div><!-- card head -->
	  <div class='card-body'>
	    <div class='font-italic'>I.T. Manager / Python / PLC programmer/ SCADA technician</div>
	    <a href="#haarm_desc" data-toggle='collapse'>More about Haarmeyer</a>
	    <div id='haarm_desc' class='collapse'>
	      Haarmeyer Electric inc. is a family owned electrical company that services and supports the energy industry in the Permian Basin.
	      The company was started in 1985 by Mr. and Mrs. Haarmeyer and has grown since then to be one of the most trusted local companies to
	      support energy production companies in southeastern New Mexico and west Texas. Haarmeyer Electric inc. specializes in custom built
	      electrical and automation systems for oil wells, SWDs, and other field operations both large and small. Initially I was hired on as an
	      Automation Technician and was trained to program PLCs for automation projects. At the same time I trained myself to be network admin and oversee
	      SCADA systems for many of Haarmeyer's clients. I was promoted and held the position of I.T. Manager with duties spanning all of the aforementioned
	  including hiring and managing a growing department, networking and PC support. I was the owner’s go-to for anything I.T. related.
	    </div> <!-- haarm_desc -->
	    <ul>
	      <li class='head'>Duties</li>
	      <li>Manage IT department of team ranging from 2 to 4 people.</li>
	      <li>Maintenance and development of I.T. infrastructure LAN/WAN and servers.</li>
	      <li>Consult in I.T. for job proposals and bids.</li>
	      <li>programming and maintenance of Django web framework and website.</li>
	      <li>Responsible for updating and maintaining SCADA systems for clients.</li>
	      <li>Customer support.</li>
	      <li>PLC programming for automation panels which are installed in field on customer sites.</li>
	    </ul>
	  </div><!-- card-body -->
	</div><!-- card -->
