<div class='card mb-4'>    
	<div class='card-header'>
	  <div class='form-check'>
	    <input class='form-check-input' type='checkbox' id='exp-check-1' name='exp-check-1' checked>
	    <label class='form-check-label' for='exp-check-1'>
				04/2018 - Present, Integra Technologies inc.</div>
	    </label>
	</div><!-- header -->
	<div class='card-body'>
	  <div class='font-italic'>System Administrator</div>
	    <a href="#integra_desc" data-toggle='collapse'>More about Integra Technologies</a>
	    <div id='integra_desc' class='collapse'>
	      Integra Technologies specializes in full-turnkey die preparation, packaging,
	      testing and characterization of high reliability semiconductor components and related value-added
	      services for the Aerospace & Defense, Space, Semiconductor and Medical industries.
	      Integra services mission-critical applications where dependability and
	      failure-free performance are paramount.
	  </div>
	  <ul>
	    <li class='head'>Duties</li>
	    <li>Support internal users break/fix requests and tickets.</li>
	    <li>Install, configure, and manage esxi, vSphere/vCenter servers.</li>
	    <li>Administer various Windows servers.</li>
	    <li>Coordinate with Wichita and Silicon Valley locations.</li>
	    <li>Administer various network equipment including Cisco ASA and switches</li>
	  </ul>
	</div><!-- card-body -->
</div><!-- card -->