	<div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-4' name='exp-check-4' checked>
	      <label class='form-check-label' for='exp-check-4'>
		06/2009 – 04/2010: Leader Technologies</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='font-italic'>Project Manager and Programmer</div>
	    <a href="#leader_desc" data-toggle='collapse'>More about Leader Technologies</a>
	    <div id='leader_desc' class='collapse'>
	      Leader Technologies is a (now defunct) user registration and tracking company focused on software and product registration, third-party client data collection and storage.
	    </div>
	    
	    <ul>
	      <li class='head'>Duties</li>
	      <li>Design and implement web based and program based registration pages.</li>
	      <li>Implement turn-key embedded registration programs.</li>
	      <li>Plan out and estimate time and resources required for each project, manage contacts and service customers needs as needed.</li>
	    </ul>
	  </div><!-- card-body -->
	</div><!-- card -->