	<div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='exp-check-7' name='exp-check-7' checked>
	      <label class='form-check-label' for='exp-check-7'>
		04/2003 – 08/2005: DocuMation Inc.</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='font-italic'>Mis Director/Technician</div>
	    <a href="#docu_desc" data-toggle='collapse'>More about DocuMation Inc.</a>  
	    <div id='docu_desc' class='collapse'>
	      Documation is an office equipment sales and support company. I was initially hired as the MIS Director. I learned through
	      experience the sales and copier technician sides of the business. Earning along the way the Ricoh Core Basics Certification.
	    </div>
	    <ul>
	      <li class='head'>Duties</li>    
	      <li>Provide pre-sales IT consultation.</li>
	      <li>Field IT support and copier repair.</li>
	      <li>Support and maintain Documation’s WAN/LAN. (Includes Albuquerque and Santa Fe offices)</li>
	    </ul>
	  </div> <!-- card body --> 
	</div><!-- card -->
