<div class='card mb-4'>
	  <div class='card-header'>
    	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-automation-check-all' checked>
	      <label class='form-check-label' for='skill-automation-check-all'>
		Automation</div><!-- card-header -->
	    </label>
	  </div><!-- form check -->
	  <div class='card-body'>
    	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-automation-check-1' checked>PLCs</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-automation-check-2' checked>SCADA</input>
	    </div>
	  </div><!-- card body -->
</div><!-- card -->
