	<div class='card mb-4'>
	  <div class='card-header'>
 	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-all' checked>
	      <label class='form-check-label' for='skill-protocol-check-all'>
		Protocols</div>
	    </label>
	  </div><!--form check -->
	  <div class='card-body'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-1' checked>STP (all versions)</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-2' checked>OpenVPN</input>
	      </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-3' checked>SSH</input>
	      </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-4' checked>TCP/IP</input>
	      </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-5' checked>RIP/v2</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-6' checked>BGP</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-7' checked>OSPF</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-protocol-check-8' checked>and other various network protocols</input>
	    </div><!--form check-->
	  </div><!-- card body -->
</div><!-- card -->