<div class='card mb-4'>
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-all' checked>
	      <label class='form-check-label' for='skill-apps-check-all'>
		Applications/Servers</div>
	    </label>
	  </div>
	  <div class='card-body'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-1' checked>Peachtree</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-2' checked>Sage</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-3' checked>cPanel</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-4' checked>Prelude</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-5' checked>VIA e-commerce</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-6' checked>SAMBA</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-7' checked>Apache</input>
	       </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-8' checked>mySQL</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-9' checked>SQL Server</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-10' checked>Microsoft Visual Studio</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-11' checked>emacs</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-12' checked>CVS</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-13' checked>MS Office Suite(Word, Excel, Outlook, Access, Publisher)</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-14' checked>Adobe suite</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-15' checked>Paint Shop Pro</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-16' checked>MS FrontPage</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-apps-check-17' checked>HomeSite</input>
	    </div>
	  </div><!-- card body -->
</div><!-- card -->