<div class='card mb-4'>    
	  <div class='card-header'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-all' name='skill-platform-check-all' checked>
	      <label class='form-check-label' for='skill-platform-check-all'>
		Platforms</div><!-- card header -->
	    </label>
	  </div><!-- form check -->
	  <div class='card-body'>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-1' name='skill-platform-check-1' checked>Windows all versions</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-2' name='skill-platform-check-2' checked>Windows server all versions</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-3' name='skill-platform-check-3' checked>VMWare Workstation 10 – 12</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-4' name='skill-platform-check-4' checked>VirtualBox</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-5' name='skill-platform-check-5' checked>UNIX (Linux, FreeBSD, SCO, AIX)</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-6' name='skill-platform-check-6' checked>Novell Netware 4.1</input>
	    </div>
	    <div class='form-check'>
	      <input class='form-check-input' type='checkbox' id='skill-platform-check-7' name='skill-platform-check-7' checked>VAX</input>
	    </div><!-- form check -->
	  </div><!-- card body -->
</div> <!-- card -->